.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #fff;
}

.container > h1 {
  font-family: "Neue-Helvetica-Bold", "sans-srif";
  color: #2f154a;
  margin-top: 5rem;
  font-size: 50px;
  margin-bottom: 1.5rem;
  font-weight: 900;
}

@media screen and (max-width: 475px) {
  .container > h1 {
    font-size: 10.6041666666666665vw;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  place-items: center;
  width: 70%;
}

@media screen and (max-width: 1185px) {
  .list {
    width: 90%;
  }
}
@media screen and (max-width: 920px) {
  .list {
    width: 95%;
  }
}
@media screen and (max-width: 870px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0rem;
  }
}

@media screen and (max-width: 575px) {
  .list > h1 {
    font-size: 12.6041666666666665vw;
  }
}

.card {
  min-height: 350px;
  min-width: 260px;
  max-width: 160px;
  text-align: center;
}

@media screen and (max-width: 575px) {
  .card {
    width: 100%;
  }
}

.card > img {
  width: 220px;
  object-fit: contain;
  border-radius: 10px;
}

@media screen and (max-width: 575px) {
  .card > img {
    width: 90%;
  }
}

.card > h2 {
  font-size: 21px;
  margin: 5px 0;
  color: #000;
}

.card > h3 {
  font-size: 15px;
  color: #555;
  line-height: 18px;
}

.card > img {
  width: 200px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  border-radius: 0.5rem;
  padding: 20px;
  min-height: 140px;
  object-fit: contain;
  transition: 0.3s ease-in-out;
}

.card > img:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 475px) {
  .card > img {
    width: 75%;
  }
}
