.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/contact/contact.png");
  height: 75vh;
  width: 1920px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: auto;
}

@media screen and (max-width: 1920px) {
  .container {
    width: 100%;
  }
}

.container > h1 {
  font-family: "Neue-Helvetica-Bold", sans-serif;
  margin-top: 5rem;
  font-size: 50px;
  margin-bottom: 1.5rem;
  font-weight: 900;
}

@media screen and (max-width: 475px) {
  .container > h1 {
    font-size: 10.6041666666666665vw;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  gap: 25px;
}

.row > input {
  background: linear-gradient(304.49deg, #001443 45.38%, #000a2c 82.48%);
  border: 1px #fff solid;
  border-radius: 6px;
  padding: 7.5px 15px;
  color: #fff;
}

.row > input::placeholder {
  color: #fff;
}

.row > textarea {
  font-family: "Neue-Helvetica-Medium", sans-serif !important;
  color: #fff;
  width: 100%;
  background: linear-gradient(304.49deg, #001443 45.38%, #000a2c 82.48%);
  border: 1px #fff solid;
  border-radius: 6px;
  padding: 7.5px 15px;
  resize: none;
}

.row > textarea::placeholder {
  font-family: "Moderat-Regular", sans-serif !important;
  color: #fff;
}

.button {
  margin: auto;
  background-color: #e1ff65;
  padding: 15px 30px;
  font-size: 20px;
  width: 246px;
  border: none;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .button {
    font-size: 12px;
  }
}

.success {
  margin-top: 5px;
  font-size: 12px;
}
